@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add any custom base styles here if needed */
body {
  font-family: 'Inter', sans-serif;
}

/* Add these new rules to hide the default browser calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}